
*.tif
*.bmp
*.DS_Store
*.m
*.m~
*.png
TrainedSummary
*.npy
*.avi
*.zip
checkpoints/Train_UCSDped2_History
checkpoints/Train_UCSDped2_History
checkpoints/Train_UCSDped2_History
*.h5
*.rar
*.mp4
checkpoints/Train_UCSDped1_History
checkpoints/Train_AvenueDataset_History
checkpoints/Train_Train_History
checkpoints/Train_training_videos_History
checkpoints/Train_UCSDped2_History
checkpoints/Train_UCSDped2_History
checkpoints/Train_UCSDped2_History
checkpoints/Train_UCSDped2_History
